__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.env
.venv
.venv*/
.env*/
.git
.gitignore
.idea
.vscode
.mypy_cache/
.pytest_cache/
**/.DS_Store
**/node_modules/
**/*.log
**/.ruff_cache/
**/.pytest_cache/
**/.coverage
**/dist/
**/build/
**/.python-version
**/.cache/
**/.tox/
**/coverage.xml
**/htmlcov/
**/.benchmarks/
**/.coverage*

