black
isort
mypy
flake8
pytest
httpx
fastapi~=0.115.6
gunicorn
uvicorn
starlette~=0.47.2
pydantic~=2.10.4
apexdevkit
coverage
ruff
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==3.2.2
python-multipart